target/
!**/src/main/**/target/
!**/src/test/**/target/
/db/
/logs/
/img/
/export/
/config/
/data/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# dependencies
**/node_modules
# roadhog-api-doc ignore
/src/utils/request-temp.js
_roadhog-api-doc

# production
/dist

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
yarn.lock
package-lock.json
*bak
.vscode


# visual studio code
.history
*.log
functions/*
.temp/**

# umi
.umi
.umi-production
.umi-test

# screenshot
screenshot
.firebase
.eslintcache
build

